 @import url("https://db.onlinewebfonts.com/c/226f58ab113a6d821def90a7d6dc2427?family=GT+Pressura+Mono+Regular+Regular");
 *{margin :0;
    padding:0;
    box-sizing:border-box;
}
body{
font-family: "GT Pressura Mono Regular", sans-serif;
}
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    font-size:21px;
    letter-spacing:0.1rem;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding :24px 40px;
    z-index:10;
    background:white;
}

.right,.left{
    display:flex;
    width:35%;
    justify-content:space-between;
}
.fixed-menu{
    height:100%;
    width:100%;
    position:fixed;
    background-color:crimson;
    z-index:10;
    top :-100%;
    transition: all ease 0.5s;
}

.hero{
    margin-top:130px;
    font-family:  "Barlow Condensed", sans-serif;
    font-weight:800;
    font-size:190px;
    text-align :center;
}
.hero p {
    margin: 0;
    line-height: 1;
    letter-spacing: -5px;
}
.cursor-box{
    position:fixed;
    pointer-events:none;
    visibility:hidden;
}
 .pointer {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: blue;
    position: fixed;
    pointer-events: none;
}
.tt {
    text-align: center;
}

.hero-text {
    margin-top: 50px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 800;
    font-size: 70px;
    text-align: center;
}

.hero-text div {
    margin: 0;
    line-height: 1.5;
    letter-spacing: -5px;
}

.hover-trigger {
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-decoration: underline;
}

.image-stack {
    position: absolute;
 top: 50%;
    left: 50%;
    width: 180px;
    height: 240px;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 100;
}

.stack-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 180px;
    height: 240px;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.15s ease;
}

.stack-card.show {
    opacity: 1;
}

/* PLAYGROUND */
.playground-text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playground-word {
    position: relative;

    font-size: 180px;
    font-weight: 800;

    cursor: none;
}

.portfolio-cursor {
    position: absolute;
    width: 150px;
    height: 40px;
    border-width: 20px;
    border-radius: 10px;
    background: blue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 800;
    pointer-events: none;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.2s ease;
}



/* ==================== PLAYGROUND ==================== */

.playground {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 70px;
}

.project-card {
    position: relative;
    height: 100vh;
    overflow: hidden;
    cursor: none;
}

/* Image + video fill the complete box */

/* Background image */
.project-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Video */
.project-card video {
    width: 45%;
    height: 55%;

    position: absolute;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    opacity: 0;
    transition: opacity 0.3s ease;

    object-fit: cover;
}
/* Blur the background when video appears */
.project-card:hover img {
    filter: blur(12px);
    transform: scale(1.05);
    transition: 0.3s ease;
}

/* Show video */
.project-card:hover video {
    opacity: 1;
}


/* ==================== BLUE BUTTON ==================== */

.project-button {
    position: absolute;

    width: 80px;
    height: 60px;

    border-radius: 30%;

    background: blue;
    color: white;
    font-weight:800;

    display: flex;
    align-items: center;
    justify-content: center;

    pointer-events: none;
    opacity: 0;
    transform: translate(-50%, -50%);
    z-index: 5;
    transition: opacity 0.2s ease;
}

.project-card:hover .project-button {
    transform: translate(-50%, -50%) scale(1);
}


/* ================================= */
.service{
    left:50px;
    position:absolute;
}
.services {
    width: 100%;
    text-align: center;
}

.services h1 {
    font-family: "Padi", sans-serif;
    font-weight: 1000;
    font-size:90px;

    transform: scaleY(1.2);     /* stretches font vertically */
    letter-spacing: -3px;       /* reduces space between letters */

    line-height: 0.85;
    margin:0;
}
.service-item {
    position: relative;
    display: block;
}
.service-item h1 {
    margin: 0;
}
.service-video {
    position: absolute;
    left: 40px;
    top: 30%;
    right:40%;

    width: 300px;
    height: 300px;

    transform: translateY(-50%);

    opacity: 0;
    transition: opacity 0.3s ease;

    pointer-events: none;
}

.service-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.service-info {
    position: absolute;
    right: 20%;
    top: 30%;

    transform: translateY(-50%);

    opacity: 0;
    transition: opacity 0.3s ease;
}

.service-item:hover .service-video {
    opacity: 1;
}

.service-item:hover .service-info {
    opacity: 1;
}
/* .services:has(.service-item:hover)>h1 {
    opacity: 0.2;
    filter: blur(4px);
    transition: 0.3s ease;
}

.service-item:hover h1 {
    opacity: 1;
    filter: none;
} */


.work-section {
    width: 100%;
    min-height: 100vh;
    padding: 100px 20px 20px;
    box-sizing: border-box;
}
.client-logos {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 200px;
}

.client-logos img {
    width: 190px;
    height: auto;
    object-fit: contain;
    padding:0px;
}
.work-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.work-left {
    width: 55%;
}
/* left side */

.work-left h1 {
    font-family: "Padi", sans-serif;
    font-size: 100px;
    font-weight: 1000;
    line-height: 0.8;
    margin: 0;
    left:40px;
    position:relative;
    letter-spacing: -4px;
    
    transform: scaleY(1.2);     /* stretches font vertically */
    letter-spacing: -3px;       /* reduces space between letters */

    line-height: 0.85;
}
.together {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 10px;
    width: 100%;
}

.together img {
    width: 150px;
    height: 105px;
    object-fit: cover;
    flex-shrink: 0;
    left:30px;
    top:30px;
    position:relative;
}

.together h1 {
    margin: 0;
    white-space: nowrap;
    
}
/* right side */
.work-right {
    width: 40%;
    padding-top: 10px;
}

.work-right > p {
    font-family: Arial, sans-serif;
    font-size: 20px;
    line-height: 1.4;
    margin: 0;
}
/* say hello */
.say-hello {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 40px;
}

.say-hello span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: blue;
}

.say-hello p {
    font-family: "GT Pressura Mono Regular", sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
}

/* footer */
.footer-videos {
    width: 100%;
    margin-bottom: 70px;
}

.footer-dot {
    display: block;

    width: 15px;
    height: 15px;

    background: blue;
    border-radius: 50%;

    margin-bottom: 20px;
}

.video-row {
    width: 100%;

    display: flex;
    gap: 28px;

    justify-content: space-between;
}

.video-row video {
    width: 16%;
    height: 155px;

    object-fit: cover;

    border-radius: 5px;
}
.footer {
    width: 100%;
    min-height: 100vh;
    padding: 70px 40px 0;
    box-sizing: border-box;
    overflow: hidden;
}


/* TOP FOOTER */

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.footer-links {
    width: 35%;
}

.footer-links a {
    display: block;
    width: fit-content;

    font-family: "GT Pressura Mono Regular", sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 1.55;

    color: #111;
    text-decoration: none;
}


.footer-contact {
    width: 42%;
}

.footer-contact p {
    font-family: "GT Pressura Mono Regular", sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 1.5;

    margin: 0 0 28px;
}


/* BOTTOM */

.footer-bottom {
    position: relative;
    width: 100%;
    margin-top: 100px;
}

.footer-bottom h1 {
    font-family: "Padi", sans-serif;
    font-weight: 1000;

    font-size: 300px;
    line-height: 0.65;

    letter-spacing: -10px;
    margin: 0;

    text-align: center;

    transform-origin: center bottom;
}


.footer-bottom p {
    position: absolute;
    bottom: 0;

    font-family: "GT Pressura Mono Regular", sans-serif;
    font-size: 13px;
    letter-spacing: 1px;

    margin: 0;
}

.footer-bottom p:first-child {
    left: -35px;
}

.footer-bottom p:last-child {
    right: 0;
}